﻿@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4" >
            <a href="https://sila2.gitlab.io/sila_base/" class="btn btn-primary mb-3" style="margin-top:15px;" target="_blank">More Infos</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
