﻿
@using SiLA2.Frontend.Razor.Services.UserManagement
@using SiLA2.Frontend.Razor.Services.UserManagement.Domain
@using SiLA2.Database.SQL
@using SiLA2.Frontend.Razor.ViewModels
@using SiLA2.Database.SQL.Domain

@inject IUserService UserService

<div>
    <h1 style="color:navy">User Management</h1>
</div>

<div>
    <br />
    <div class="accordion" id="usermanagementactioncontainer">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    <strong>Create User</strong>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <div class="row g-3">
                        <div class="col-auto">
                            <input @bind="CreateModel.Login" type="text" class="form-control" placeholder="Login">
                        </div>
                        <div class="col-auto">
                            <input @bind="CreateModel.Password" type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="col-auto">
                            <select class="form-select" @bind="CreateModel.Role">
                                <option value="Standard">Standard</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary mb-3" @onclick="CreateUser">Create User</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    <strong>Update User</strong>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <div class="row g-3">
                        <div class="col-auto">
                            <select class="form-select" @bind="UpdateModel.Login">
                                @foreach(var user in Users)
                                {
                                    <option value="@user.Login">@user.Login</option>
                                }
                            </select>
                        </div>
                        <div class="col-auto">
                            <input type="password" @bind="UpdateModel.Password"  class="form-control" id="accountupdatepw" placeholder="Password">
                        </div>
                        <div class="col-auto">
                            <select class="form-select" @bind="UpdateModel.Role">
                                <option value="Standard">Standard</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary mb-3" @onclick="UpdateUser">Update User</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    <strong>Delete User</strong>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <div class="row g-3">
                        <div class="col-auto">
                            <select class="form-select" @bind="DeleteModel.Login">
                                @foreach (var user in Users)
                                {
                                    <option value="@user.Login">@user.Login</option>
                                }
                             </select>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary mb-3" @onclick="DeleteUser">Delete User</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-hover" style="margin-top:20px">
    <thead>
        <tr>
            <th>
                Login Name
            </th>
            <th>
                Role
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Users)
        {
            <tr>
                <td>
                    @user.Login
                </td>
                <td>
                    @user.Role
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private const string ADMIN = "Admin";
    private List<UserViewModel> Users;
    private UserViewModel CreateModel = new UserViewModel { Role = Role.Standard };
    private UserViewModel UpdateModel = new UserViewModel();
    private UserViewModel DeleteModel = new UserViewModel();

    protected override async Task OnInitializedAsync()
    {
        await InvokeAsync(() => GetUsers());
    }

    private async Task CreateUser(MouseEventArgs mouseEventArgs)
    {
        await UserService.CreateUser(CreateModel.Login, CreateModel.Password, CreateModel.Role);
        CreateModel = new UserViewModel { Role = Role.Standard };
        GetUsers();
    }

    private async Task UpdateUser()
    {
        var updateUser = UserService.GetUser(UpdateModel.Login);

        if (updateUser == null)
            return;

        if (UpdateModel.Login == ADMIN && UpdateModel.Role == Role.Standard)
            return;

        var changePwd = !string.IsNullOrEmpty(UpdateModel.Password) && updateUser.Password != UpdateModel.Password;

        if (changePwd)
            updateUser.SetPassword(UpdateModel.Password);

        if (!updateUser.Role.Equals(UpdateModel.Role))
            updateUser.SetRole(UpdateModel.Role);

        await UserService.UpdateUser(updateUser, changePwd);
        
        GetUsers();
    }

    private async Task DeleteUser()
    {
        if (DeleteModel.Login == ADMIN)
            return;

        var deleteUser = UserService.GetUser(DeleteModel.Login);
        if (deleteUser == null)
            return;
        await UserService.DeleteUser(deleteUser);
        GetUsers();
    }

    private void GetUsers()
    {
        var users = UserService.GetUsers();
        if (users.Count() == 0)
        {
            Users = new List<UserViewModel>();
        }

        Users = users.Select(x => new UserViewModel(x.Id, x.Login, x.Role)).ToList();
        
        this.StateHasChanged();
    }
}
