﻿@page "/security"

<style>
    html, body {
        width: 100%;
        height: 100%;
    }

    body {
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background: linear-gradient(160deg, #FFFFFF 0%,#FFFFFF 45%,#008080 75%,#191970 100%);
    }
</style>

<SecurityComponent></SecurityComponent>