﻿@inherits LayoutComponentBase

<PageTitle>SiLA2.Server.Manager</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://sila2.gitlab.io/sila_base/" class="btn btn-primary mb-3" style="margin-top:15px;" target="_blank">More Infos</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
