﻿@page "/animl"

@using AnIMLCore
@using SiLA2.AnIML
@using AnIML.Services
@using Newtonsoft.Json
@*@using System.Linq
@using System.IO*@

@inject IAnIMLRepository AnIMLRepository
@inject IAnIMLTechniqueRepository AnIMLTechniqueRepository

<h1 style="color:navy">AnIML</h1>

<hr />

<div>These AniML data are fetched from the example document database...next targets will be creating an AnIML Document with generated Temperature Series and displaying these data in a chart...and a ValidatorService and an ExporterService for generated AnIML data...</div>

@if (_anIMLs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row" style="margin-top:25px">
        <h3 style="color:navy">AnIML Data</h3>
        <div class="accordion col-12" id="accordionanimalcore">
            @if(_anIMLJsons != null)
            {
                @for (int i = 0; i < _anIMLJsons.Count; i++)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id=@_anIMLJsons[i].GetHashCode()>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#animlcore@(i)" aria-expanded="true" aria-controls="animlcore@(i)">
                                AnIML
                            </button>
                        </h2>
                        <div id="animlcore@(i)" class="accordion-collapse collapse" aria-labelledby=@_anIMLJsons[i].GetHashCode()>
                            <div class="accordion-body">
                                <pre>
                                    @_anIMLJsons[i]
                                </pre>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="row" style="margin-top:25px">
        <h3 style="color:navy">AnIML Technique Data</h3>
        <div class="accordion col-12" id="accordionanimltechnique">
            @if (_anIMLTechniqueXmls != null)
            {
                @for (int i = 0; i < _anIMLTechniqueXmls.Count; i++)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id=@_anIMLTechniqueXmls[i].GetHashCode()>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#animltechnique@(i)" aria-expanded="true" aria-controls="animltechnique@(i)">
                                AnIML Technique
                            </button>
                        </h2>
                        <div id="animltechnique@(i)" class="accordion-collapse collapse" aria-labelledby=@_anIMLTechniqueXmls[i].GetHashCode()>
                            <div class="accordion-body">
                                <pre>
                                    @_anIMLTechniqueXmls[i]
                                </pre>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}

@code {
    private IEnumerable<AnIMLType> _anIMLs;
    private List<string> _anIMLJsons;
    private IEnumerable<AnIMLTechnique.TechniqueType> _anIMLTypes;
    private List<string> _anIMLTechniqueXmls;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            GetAnIMLDataInternal();
            this.StateHasChanged();
        }
    }

    private void GetAnIMLDataInternal()
    {
        _anIMLs = AnIMLRepository.All();
        _anIMLJsons = _anIMLs.Select(x => JsonConvert.SerializeObject(x, Formatting.Indented)).ToList();
        // TODO: Serialization Error -> InvalidOperationException: Value of ItemsElementName mismatches the type of System.Single; you need to set it to AnIMLCore.ItemsChoiceType3.@F.
        //_anIMLJsons = _anIMLs.Select(x => x.GetAnIMLXml()).ToList();

        //AnIMLType aniML = null;
        //using (var s = File.OpenRead(@"C:\Users\Chamundi\Desktop\1.json"))
        //{
        //    using(var sr = new StreamReader(s))
        //    {
        //        aniML = JsonConvert.DeserializeObject<AnIMLType>(sr.ReadToEnd());
        //    }
        //}
        //var result = aniML.GetAnIMLXml();

        _anIMLTypes = AnIMLTechniqueRepository.All();
        _anIMLTechniqueXmls = _anIMLTypes.Select(x => JsonConvert.SerializeObject(x, Formatting.Indented)).ToList();
        //await jsRuntime.InvokeVoidAsync("generateChart", new object[] { });
        this.StateHasChanged();
    }
}
