﻿@page "/"

@implements IDisposable

@using SiLA2.Server.Manager.Data
@using SiLA2.Server.Manager.Services
@using SiLA2.Utils.Network
@using SiLA2.Network.Discovery.mDNS
@using System.Net.Sockets
@using System.Net
@using SiLA2.Utils.gRPC
@using System.Collections.Concurrent

@inject IServiceFinder ServiceFinder
@inject IGrpcChannelProvider GrpcChannelProvider
@inject IServerDataService ServerDataService
@inject IConnectionViewModelProvider ConnectionViewModelProvider
@inject IJSRuntime JSRuntime;
@inject IConfiguration Configuration
@inject ILogger<Index> Logger

<PageTitle>SiLA2 Servers</PageTitle>

<h3 style="color:darkslategray;font-weight:bold">SiLA2 <span style="color:teal">Servers</span></h3>

<div style="margin-top:20px">
    @if (ConnectionViewModelProvider.Servers.Count == 0)
    {
        <div>Searching for SiLA2 Servers...</div>
    }
    else
    {
        <hr>

        @foreach (var server in ConnectionViewModelProvider.Servers.Values)
        {
            <div class="container" style="border-radius:10px;border:solid indigo; margin-bottom:5px;background-color:teal;color:white;min-width:600px">
                <div class="row">
                    <div class="col-6 align-bottom" style="margin-top:10px"><h4>@server.ServerData.Config.Name</h4></div>
                    <div class="col-6 align-bottom" style="margin-top:10px"><h5>@server.ServerData.Config.Uuid</h5></div>
                </div>
                <div class="row">
                    <div class="col4">Channel @server.ConnectionInfo</div>
                </div>
                <div class="row" style="margin-bottom:5px">
                    <div class="col-10">
                        <div class="align-bottom" style="margin-top:10px">@server.ServerData.Info.Description</div>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary mb-3" style="background-color:lightseagreen" @onclick="() => Connect(server)">Open Client</button>
                    </div>
                </div>
            </div>
        }
    }
</div>

@code
{
    CancellationTokenSource cts = new CancellationTokenSource();
    CancellationTokenSource cHkCts = new CancellationTokenSource();

    protected override Task OnInitializedAsync()
    {
        cts = new CancellationTokenSource();
        ServiceFinder.ConnectionReceivedHandler += async x => await HandleReceivedConnection(x);
        ServiceFinder.GetConnectionsContinuously(Configuration["DiscoveryServiceName"], cts.Token);
        cHkCts = new CancellationTokenSource();
        Task.Run(() => ConnectionHouseKeeping(cHkCts.Token));
        return base.OnInitializedAsync();
    }

    private async Task Connect(ConnectionViewModel connectionInfoViewModel)
    {
        await JSRuntime.InvokeVoidAsync("open", $"sila2server/{connectionInfoViewModel.ConnectionInfo.Address}/{connectionInfoViewModel.ConnectionInfo.Port}", "_blank");
    }

    private async Task HandleReceivedConnection(ConnectionInfo connectionInfo)
    {
        await InvokeAsync(async () =>
            {
                try
                {
                    if (!ConnectionViewModelProvider.Servers.ContainsKey(connectionInfo.ToString()))
                    {
                        var serverData = await ServerDataService.GetServerData(connectionInfo.Address, connectionInfo.Port, true);
                        ConnectionViewModelProvider.Servers.GetOrAdd(connectionInfo.ToString(), new ConnectionViewModel(connectionInfo, serverData));
                        StateHasChanged();
                    }
                }
                catch (Exception ex)
                {
                    Logger.LogWarning($"{ex}");
                }
            });
    }

    private async Task ConnectionHouseKeeping(CancellationToken token){

        while(true)
        {
            var removeList = await GetOrphanServers();
            if(removeList.Count > 0)
            {
                await InvokeAsync(() => {
                    foreach (var server in removeList)
                    {
                        Logger.LogInformation($"Removing server {server}");
                        ConnectionViewModelProvider.Servers.Remove(server.ConnectionInfo.ToString(), out ConnectionViewModel _);
                        Logger.LogInformation($"Removed server {server}");
                        StateHasChanged();
                    }
                });
            }
            await Task.Delay(2000);
        }
    }

    private async Task<IList<ConnectionViewModel>> GetOrphanServers()
    {
        var removeList = new List<ConnectionViewModel>();
        var httpClientHandler = new HttpClientHandler();
        httpClientHandler.ServerCertificateCustomValidationCallback = (httpRequestMessage, x509Certificate2, x509Chain, sSLPolicyErrors) => true;
        using (var httpClient = new HttpClient(httpClientHandler))
        {
            foreach (var server in ConnectionViewModelProvider.Servers.Values)
            {
                try
                {
                    var response = await httpClient.GetAsync($"https://{server.ConnectionInfo.Address}:{server.ConnectionInfo.Port}");
                }
                catch
                {
                    removeList.Add(server);
                }
            }
        }
        return removeList;
    }

    public void Dispose()
    {
        cts.Cancel();
        cHkCts.Cancel();
        ServiceFinder.ConnectionReceivedHandler -= async x => await HandleReceivedConnection(x);
    }
}