﻿@page "/sila2server/{Host}/{Port}"

@using SiLA2.Server.Manager.Data
@using SiLA2.Server.Manager.Services
@using SiLA2.Utils.gRPC

@inject IConnectionViewModelProvider ConnectionViewModelProvider
@inject IGrpcChannelProvider GrpcChannelProvider
@inject IServerDataService ServerDataService

<PageTitle>Server @Host : Port @Port</PageTitle>

@if (_connectionViewModel.ServerData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <h1 style="color:navy">@_connectionViewModel.ServerData.Config.Name</h1>
        <table class="table table-striped" style="padding-top:50px">
            
            <tbody>
                <tr>
                    <td>Server ID</td>
                    <td>@_connectionViewModel.ServerData.Config.Uuid</td>
                </tr>
                <tr>
                    <td>Channel</td>
                    <td>@_connectionViewModel.ServerData.Config.FQHN:@_connectionViewModel.ServerData.Config.Port</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>@_connectionViewModel.ServerData.Info.Description</td>
                </tr>
                <tr>
                    <td>Server Type</td>
                    <td>@_connectionViewModel.ServerData.Info.Type</td>
                </tr>
                <tr>
                    <td>Server Version</td>
                    <td>@_connectionViewModel.ServerData.Info.Version</td>
                </tr>
                <tr>
                    <td style="min-width:200px">Server Vendor URI</td>
                    <td>
                        <a href="@_connectionViewModel.ServerData.Info.VendorURI" target="_blank">
                            @_connectionViewModel.ServerData.Info.VendorURI
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h4 style="color:navy">Features</h4>
        <table class="table" style="width:100%">
            <tbody>
                @foreach (var feature in _serverFeatures.Values)
                {
                    <tr>
                        <td colspan="2">
                            <h5 style="color:teal;">@feature.Identifier</h5>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span style="font-style:italic">@feature.FullyQualifiedIdentifier</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @feature.Description
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    [Parameter]
    public string Host { get; set; }
    [Parameter]
    public string Port { get; set; }

    private string _key => $"{Host}:{Port}";
    private ConnectionViewModel _connectionViewModel;
    private IDictionary<string, Feature> _serverFeatures = new Dictionary<string, Feature>();

    protected override async Task OnInitializedAsync()
    {
        _connectionViewModel = ConnectionViewModelProvider.Servers[_key];
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await InvokeAsync(async () =>
        {
            _serverFeatures = await ServerDataService.GetServerFeatures(Host, int.Parse(Port), true);
            StateHasChanged();
        });
        base.OnAfterRenderAsync(firstRender);
    }
}
